/* Mobile & tablet */
@media (max-width: 1023px) {

    .header__sort-bar {
        display: none;
    }

    .product-asdie {
        display: none;
    }

    .app__container {
        position: relative;
        margin-top: 0;
        padding-top: 0;
    }
    
    .footer {
        position: absolute;
        z-index: 1;
    }

    .product {
        flex-wrap: wrap;
    }

    .product__related-item {
        width: 208px;
        height: unset;
    }

    .product__related-item__img {
        width: 100%;
        height: 208px;
    }

    .product__related {
        flex-wrap: wrap;
    }

    .footer {
        position: relative;
        left: 0;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    

    .product-images {
        margin: auto;
    }

}

